:root {
  --primary-color: #00aa36;
  --secondary-color: #f5f5f5;
  --font-display: "Montserrat", sans-serif;
  --tertiary-color: #2b2a2a;
  --bg-form: #e9e8e8;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.button-cto-1 {
  background-color: white;
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 20px 38px;
  max-width: fit-content;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}

.button-cto-1:hover {
  transform: scale(1.05);
}

.shadow {
  box-shadow: 4px 4px 10px #0000004c;
}

/* SOCIAL BAR */
.social-bar {
  background-color: var(--primary-color);
}

.social-bar .container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  gap: 30px;
}

.social-bar img {
  height: 24px;
  width: 24px;
}

/* HEADER */

.header {
  height: 100px;
  background-color: white;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.header .logo {
  width: 200px;
}

.nav ul {
  display: flex;
  gap: 30px;
}

.nav a {
  font-size: 20px;
  font-weight: 700;
}

.nav a:hover {
  color: var(--primary-color);
}

/* HERO */

.bg-hero {
  background-color: var(--primary-color);
  background-image: url("/assets/images/bg-hero.png");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100dvh - 140px);
  width: 100%;
}

.hero {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.hero h1 {
  font-size: 60px;
  line-height: normal;
  font-weight: 900;
  max-width: 583px;
  text-transform: uppercase;
  color: white;
  font-family: var(--font-display);
}

.hero p {
  font-size: 23px;
  color: white;
  max-width: 446px;
  font-weight: 600px;
}

.hero .phone .img-area {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .phone {
  display: flex;
  gap: 4px;
  align-items: center;
}

.hero .phone .img-area img {
  width: 40px;
  height: 40px;
}

.hero .phone p {
  font-size: 35px;
  font-weight: 700;
  color: white;
}

/* CARDS HERO */

.cards-hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  margin-top: -3rem;
  margin-bottom: 20px;
}

.card-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 10px;
  gap: 20px;
}

.card-hero img {
  width: 60px;
  height: 60px;
}

.card-hero p {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
}

/* ABOUT */

.about {
  margin: 100px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about em {
  font-weight: 600;
  font-size: 18px;
}

.about h1 {
  font-size: 56px;
  max-width: 672px;
}

.about h1 span {
  color: var(--primary-color);
}

.text-container {
  margin-top: 20px;
  padding: 20px;
  border-left: 3px solid var(--primary-color);
  max-width: 614px;
  font-size: 22px;
}

.about .left {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}

/* GOAL */

.goal {
  margin: 50px 0;
}
.goal .container {
  display: flex;
  justify-content: space-between;
}

.left-esocial,
.right-esocial {
  flex: 1;
}

.right-esocial {
  display: flex;
  align-items: center;
}

.up {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}

.up div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 40px;
}

.up div img {
  width: 100px;
  height: 100px;
}

.down div {
  margin-top: 25px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* SERVICES */

.services {
  background-image: url(/assets/images/bg-services.png);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  position: relative;
}

.services::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.308);
}

.services .container {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.services .container h2 {
  font-weight: 300;
  text-align: center;
  font-size: 50px;
  color: var(--secondary-color);
}

.services .container h2 span {
  font-weight: 700;
  display: inline-block;
  padding: 2px 4px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.services .cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5d7;
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  height: 200px;
}

.services .card img {
  max-width: 105px;
  max-height: 105px;
}

.services .card p {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  max-width: 320px;
}

/* CLIENTS */
.clients {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.clients .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.clients h2 {
  font-size: 50px;
  line-height: normal;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-family: var(--font-display);
}

.clients strong {
  color: var(--primary-color);
}

.clients .slide {
  height: 200px;
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;
}

.swiper {
  width: inherit;
  height: inherit;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 110px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.clients .results {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.clients .result {
  background-color: var(--secondary-color);
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.clients .result div {
  background-color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 10px;
  color: white;
}

.clients .result p {
  font-size: 30px;
}

/* MY ADDRESSES */

.my-addresses {
  padding: 100px 0;
}

.my-addresses .container {
  display: flex;
}

.my-addresses .infos {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.my-addresses .map {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  min-height: 340px;
}

.my-addresses .map iframe {
  width: 100%;
  height: 100%;
  min-height: inherit;
  border-radius: 10px;
}

.my-addresses .infos h2 {
  font-size: 50px;
  line-height: 50px;
  max-width: 442px;
}

.my-addresses .addresses {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-addresses .address {
  display: flex;
  font-size: 18px;
  gap: 5px;
}

.my-addresses .address img {
  width: 40px;
  height: 40px;
}

/* CONTACT */

.contact .container {
  display: flex;
  flex-direction: row;
}

.contact .contact-image,
.contact .contact-form {
  flex: 1;
}

.contact .contact-image {
  display: flex;
  justify-content: start;
  align-items: end;
}

.contact .contact-image img {
  max-width: 450px;
  object-fit: contain;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.contact .contact-form h2 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.contact .contact-form strong {
  color: var(--primary-color);
}

.contact .contact-form form {
  padding: 24px 16px;
  border-radius: 10px;
  background-color: var(--bg-form);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact .contact-form input,
.contact .contact-form textarea,
.contact .contact-form button {
  width: 100%;
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: 18px;
}

.contact .contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
  outline: 2px solid var(--primary-color);
}

.contact .contact-form .input-group {
  display: flex;
  gap: 30px;
}

.contact .contact-form button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.contact .contact-form button:hover {
  transform: scale(1.01);
}
