* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

input,
textarea {
  font-family: "Inter", sans-serif;
}
