@media screen and (max-width: 1280px) {
  .bg-hero {
    background-size: cover;
  }

  .container {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1366px) {
  .hero h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .cards-hero {
    margin-top: -2rem;
  }

  .about .left img {
    max-height: 450px;
  }

  .about .about-text {
    font-size: 18px;
  }

  .about h1 {
    font-size: 54px;
  }

  .text-container {
    font-size: 19px;
  }

  .goal .up div img {
    width: 80px;
    height: 80px;
  }

  .goal .up div {
    font-size: 30px;
  }

  .right-esocial img {
    max-height: 300px;
  }

  .goal .down div {
    font-size: 20px;
  }

  .services .cards-grid {
    gap: 50px;
  }

  .services .card {
    height: 180px;
  }

  .services .card img {
    max-width: 60px;
    max-height: 60px;
  }

  .services .card p {
    font-size: 18px;
    max-width: 250px;
  }

  .services .container h2 {
    font-size: 50px;
  }

  .differentials .container .cards-container {
    gap: 40px;
  }

  .differentials .container .card {
    padding: 30px;
    height: 340px;
  }

  .differentials .container .card img {
    width: 40px;
    right: 10px;
    top: -20px;
  }

  .differentials .container .card h3 {
    font-size: 28px;
  }

  .solution .right h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1260px) {
  .clients .result {
    flex-direction: column;
    height: fit-content;
  }

  .contact .contact-image img {
    max-width: 350px;
  }

  .footer .logo img {
    max-width: 200px;
  }

  .footer .social img {
    width: 42px;
    height: 42px;
  }

  .footer strong {
    font-size: 20px;
  }

  .about .left img {
    max-height: 400px;
  }

  .about .left img {
    max-height: 400px;
  }

  .about .about-text {
    font-size: 16px;
  }

  .about h1 {
    font-size: 48px;
  }

  .text-container {
    font-size: 18px;
  }

  .goal .up div img {
    width: 70px;
    height: 70px;
  }

  .goal .up div {
    font-size: 25px;
  }

  .right-esocial img {
    max-height: 280px;
  }

  .goal .down div {
    font-size: 18px;
  }

  .services .card {
    height: 160px;
  }

  .services .card img {
    max-width: 60px;
    max-height: 60px;
  }

  .services .card p {
    font-size: 18px;
    max-width: 250px;
  }

  .services .container h2 {
    font-size: 52px;
  }

  .differentials .container .cards-container {
    gap: 30px;
  }

  .differentials .container .card {
    padding: 25px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .differentials .container .card h3 {
    font-size: 25px;
  }

  .differentials .container .card p {
    max-width: 450px;
    font-size: 16px;
    margin: 30px 0;
  }

  .solution .right h2 {
    font-size: 40px;
  }

  .solution .left {
    gap: 20px;
  }
}

@media screen and (max-width: 1160px) {
  .header .logo {
    width: 180px;
  }

  .cards-hero {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .my-addresses .container {
    flex-direction: column;
    gap: 50px;
  }

  .my-addresses .addresses {
    flex-direction: row;
    justify-content: space-between;
  }

  .my-addresses .infos h2 {
    max-width: none;
    text-align: center;
  }

  .about .left img {
    max-height: 320px;
  }

  .about .about-text {
    font-size: 15px;
  }

  .about h1 {
    font-size: 40px;
    max-width: 672px;
  }

  .text-container {
    font-size: 15px;
    max-width: 520px;
  }

  .goal .up div img {
    width: 70px;
    height: 70px;
  }

  .goal .up div {
    font-size: 22px;
  }

  .right-esocial img {
    max-height: 250px;
  }

  .goal .down div {
    font-size: 16px;
  }

  .differentials .container .cards-container {
    gap: 25px;
  }

  .differentials .container .card {
    padding: 20px;
    height: 340px;
  }

  .differentials .container .card h3 {
    max-width: 350px;
    font-size: 24px;
  }

  .differentials .container .card p {
    max-width: 400px;
    font-size: 16px;
    margin: 30px 0;
  }

  .differentials .container .card em {
    max-width: 400px;
  }

  .solution .container {
    flex-direction: column;
  }

  .solution .button-cto-1 {
    display: none;
  }

  .solution .right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .solution .container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .solution .right h2 {
    border: none;
    font-size: 58px;
  }

  .solution .left div {
    max-width: 100%;
    display: flex;
    color: var(--secondary-color);
    font-size: 18px;
  }
  .solution .show {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about .left img {
    max-height: 500px;
  }

  .about .about-text {
    font-size: 18px;
  }

  .about h1 {
    font-size: 50px;
    max-width: 700px;
  }

  .text-container {
    font-size: 18px;
    max-width: 800px;
  }

  .goal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 600px;
    margin: 0 auto;
  }

  .goal .up div {
    font-size: 28px;
  }

  .down div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .right-esocial {
    order: 2;
  }

  .goal .up div img {
    width: 80px;
    height: 80px;
  }

  .goal .down div {
    font-size: 20px;
    max-width: 780px;
  }

  .right-esocial img {
    max-height: 350px;
  }

  .services .cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .services {
    height: 100%;
  }

  .services .card {
    height: 160px;
  }

  .services .card p {
    font-size: 17px;
    max-width: 250px;
  }

  .services .container {
    padding: 30px 30px;
    gap: 30px;
  }

  .differentials .container h2 {
    font-size: 56px;
  }

  .differentials .container .cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .differentials .container .cards-container {
    gap: 50px;
  }

  .differentials .container .card {
    padding: 40px 50px;
    height: 360px;
  }

  .differentials .container .card h3 {
    max-width: 500px;
    font-size: 28px;
  }

  .differentials .container .card p {
    max-width: 500px;
    font-size: 18px;
    margin: 30px 0;
  }

  .differentials .container .card em {
    max-width: 500px;
  }
}

@media screen and (max-width: 880px) {
  .container {
    padding: 0 40px;
  }

  .clients .results {
    flex-direction: column;
    max-width: fit-content;
  }

  .clients .result div {
    font-size: 40px;
  }

  .contact .contact-image {
    display: none;
  }

  .footer .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .footer strong {
    text-align: center;
  }

  .footer .social {
    align-items: center;
  }

  .footer .social-container {
    padding: 0;
    padding-top: 10px;
  }

  .footer .logo img {
    max-width: 150px;
  }

  .footer p {
    font-size: 14px;
    padding: 0 30px;
  }

  .developer-by {
    text-align: center;
  }

  .solution .right h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .btn-mobile-open {
    display: flex;
  }

  .menu-mobile {
    display: flex;
  }

  .my-addresses .addresses {
    flex-direction: column;
    align-items: center;
  }

  .my-addresses .address {
    text-align: center;
  }

  .my-addresses .address img {
    display: none;
  }

  .about .left img {
    max-height: 500px;
  }

  .about .about-text {
    font-size: 18px;
  }

  .about h1 {
    font-size: 45px;
    max-width: 700px;
  }

  .text-container {
    font-size: 16px;
    max-width: 800px;
    padding: 10px;
  }

  .goal .down div {
    font-size: 18px;
    max-width: 780px;
  }

  .goal .up div {
    margin-bottom: 20px;
  }

  .services .card img {
    max-width: 45px;
    max-height: 45px;
  }

  .services .card p {
    font-size: 14px;
    max-width: 250px;
  }

  .services .container h2 {
    font-size: 45px;
  }

  .services .card {
    height: 130px;
  }

  .differentials .container h2 {
    font-size: 50px;
  }

  .differentials .container .cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .differentials .container .cards-container {
    gap: 50px;
  }

  .differentials .container .card {
    padding: 40px;
    height: 340px;
  }

  .differentials .container .card h3 {
    max-width: 350px;
    font-size: 25px;
  }

  .differentials .container .card p {
    max-width: 450px;
    font-size: 18px;
    margin: 30px 0;
  }

  .differentials .container .card em {
    max-width: 450px;
  }
}

@media screen and (max-width: 668px) {
  .hero {
    align-items: center;
  }

  .hero h1,
  .hero p {
    max-width: 100%;
    text-align: center;
  }

  .header {
    height: 100px;
  }

  .bg-hero {
    height: calc(100dvh - 100px);
  }

  .phone {
    justify-content: center;
  }

  .cards-hero {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .clients h2 {
    font-size: 50px;
    line-height: 60px;
  }

  .contact .contact-form h2 {
    font-size: 40px;
  }

  .contact .contact-form .input-group {
    flex-direction: column;
  }

  .contact .contact-form form {
    box-shadow: none;
  }

  .right-esocial img {
    max-height: 300px;
  }

  .down div img {
    max-height: 30px;
  }

  .buttons-container .button-cto-1 {
    font-size: 20px;
  }

  .buttons-container .button-cto-2 {
    font-size: 20px;
  }

  .solution .right h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero .phone .img-area {
    height: 50px;
    height: 50px;
  }
  .hero .phone .img-area img {
    height: 30px;
    height: 30px;
  }

  .hero .phone p {
    font-size: 30px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about .left img {
    max-height: 450px;
  }

  .about h1 {
    font-size: 38px;
    max-width: 700px;
  }

  .goal .up div {
    font-size: 22px;
  }
  .goal .up {
    gap: 20px;
  }

  .goal .up div img {
    width: 45px;
    height: 45px;
  }

  .goal .down div {
    font-size: 18px;
    max-width: 780px;
  }

  .right-esocial img {
    max-height: 350px;
  }

  .solution .photos-container .photos {
    flex-direction: column;
    width: 100%;
    max-width: none;
    max-height: none;
  }

  .solution .photos-container .photos img {
    max-width: 100%;
    width: 100%;
  }

  .differentials .container h2 {
    font-size: 40px;
  }

  .differentials .container .card {
    padding: 40px;
    height: 320px;
  }

  .differentials .container .card h3 {
    max-width: 350px;
    font-size: 22px;
  }

  .differentials .container .card p {
    max-width: 350px;
    font-size: 16px;
  }

  .differentials .container .card em {
    max-width: 350px;
  }

  .buttons-container .button-cto-1 {
    font-size: 18px;
    padding: 10px 22px;
  }

  .buttons-container .button-cto-2 {
    padding: 10px 22px;
    font-size: 18px;
  }

  .solution .right h2 {
    font-size: 40px;
  }

  .solution .left div {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 45px;
    line-height: 50px;
  }

  .clients h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .clients .result p {
    font-size: 24px;
  }

  .about h1 {
    font-size: 30px;
    max-width: 700px;
  }

  .about .left img {
    max-height: 350px;
  }
  .about .about-text {
    font-size: 16px;
  }

  .goal .up div {
    font-size: 20px;
  }

  .goal .up {
    gap: 20px;
  }

  .goal .up div img {
    width: 40px;
    height: 40px;
  }

  .goal .down div {
    font-size: 16px;
    max-width: 780px;
  }

  .right-esocial img {
    max-height: 250px;
  }

  .services .cards-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .services .card {
    height: 150px;
  }

  .services .card img {
    max-width: 45px;
    max-height: 45px;
  }

  .services .card p {
    font-size: 16px;
    max-width: 200px;
  }

  .services .container h2 {
    font-size: 40px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons-container .button-cto-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    padding: 10px 30px;
  }

  .buttons-container .button-cto-2 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 22px 30px;
    font-size: 22px;
  }

  .solution .left {
    padding: 50px 52px 50px 28px;
    background-color: #313131;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .solution .left div {
    padding-bottom: 15px;
  }

  .button-whatsapp {
    width: 50px;
    height: 50px;
  }

  .button-whatsapp img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 478px) {
  .header .logo {
    max-width: 150px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero .phone .img-area {
    display: none;
  }

  .about h1 {
    font-size: 28px;
    max-width: 350px;
  }

  .about .left img {
    max-height: 350px;
  }
  .about .about-text {
    font-size: 16px;
  }

  .text-container {
    font-size: 15px;
    max-width: 800px;
  }

  .goal .up {
    gap: 20px;
  }

  .goal .up div {
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }

  .goal .up div img {
    width: 40px;
    height: 40px;
  }

  .goal .down div {
    font-size: 15px;
    max-width: 780px;
  }

  .right-esocial img {
    max-height: 200px;
  }

  .services .container h2 {
    font-size: 35px;
  }

  .swiper::after,
  .swiper::before {
    width: 0;
  }

  .differentials .container h2 {
    font-size: 40px;
  }

  .differentials .container .card {
    padding: 35px 35px;
    height: 330px;
  }

  .differentials .container .card h3 {
    max-width: 300px;
    font-size: 22px;
  }

  .differentials .container .card p {
    max-width: 300px;
    font-size: 15px;
  }

  .differentials .container .card em {
    max-width: 300px;
    font-size: 15px;
    padding-bottom: 15px;
  }

  .solution .right h2 {
    font-size: 30px;
  }

  .button-whatsapp {
    width: 50px;
    height: 50px;
  }

  .button-whatsapp img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .differentials .container h2 {
    font-size: 40px;
  }

  .differentials .container .card {
    padding: 25px 25px;
    height: 330px;
  }

  .differentials .container .card h3 {
    max-width: 250px;
    font-size: 22px;
  }

  .differentials .container .card p {
    max-width: 250px;
    font-size: 15px;
  }

  .differentials .container .card em {
    max-width: 250px;
    font-size: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 378px) {
  .about .left img {
    max-height: 300px;
  }
  .text-container {
    font-size: 14px;
  }
  .about h1 {
    font-size: 25px;
  }

  .solution .right h2 {
    font-size: 28px;
  }
}
