@media screen and (max-width: 1440px) {
  .bg-hero {
    background-size: cover;
  }

  .card-hero p {
    font-size: 28px;
  }
}

@media screen and (max-width: 1260px) {
  .card-hero p {
    font-size: 25px;
  }

  .clients .result {
    flex-direction: column;
    height: fit-content;
  }

  .my-addresses .infos h2 {
    font-size: 70px;
  }

  .contact .contact-image img {
    max-width: 350px;
  }
}

@media screen and (max-width: 1100px) {
  .contact .container {
    flex-direction: column-reverse;
  }

  .contact .contact-form h2 {
    text-align: center;
  }

  .contact .contact-image {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .nav a {
    font-size: 20px;
  }

  .header .logo {
    width: 180px;
  }

  .cards-hero {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .my-addresses .container {
    flex-direction: column;
    gap: 50px;
  }

  .my-addresses .addresses {
    flex-direction: row;
    justify-content: space-between;
  }

  .my-addresses .infos h2 {
    max-width: none;
    text-align: center;
  }
}

@media screen and (max-width: 880px) {
  .container {
    padding: 0 40px;
  }

  .clients h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .clients .results {
    flex-direction: column;
    max-width: fit-content;
  }

  .clients .result div {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .hero h1 {
    font-size: 70px;
  }

  .my-addresses .addresses {
    flex-direction: column;
    align-items: center;
  }

  .my-addresses .infos h2 {
    font-size: 40px;
  }

  .my-addresses .address {
    text-align: center;
  }

  .my-addresses .address img {
    display: none;
  }
}

@media screen and (max-width: 668px) {
  .hero {
    align-items: center;
  }

  .hero h1,
  .hero p {
    max-width: 100%;
    text-align: center;
  }

  .header {
    height: 100px;
  }

  .bg-hero {
    height: calc(100dvh - 100px);
  }

  .phone {
    justify-content: center;
  }

  .cards-hero {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .clients h2 {
    font-size: 50px;
    line-height: 60px;
  }

  .contact .contact-form h2 {
    font-size: 40px;
  }

  .contact .contact-form .input-group {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero .phone .img-area {
    height: 50px;
    height: 50px;
  }
  .hero .phone .img-area img {
    height: 30px;
    height: 30px;
  }

  .hero .phone p {
    font-size: 30px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 45px;
    line-height: 50px;
  }

  .clients h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
